.section {
    padding-left: 300px;
    padding-right: 300px;
}

.titles{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 32px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
}

.title {
    font-weight: bold;
    font-size: larger;
}
.candidates{
    display: flex;
    flex-direction: row;
    background-color: rgb(43, 46, 52);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    border-radius: 15px;
}

.stat {
    width: 1000px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.vote {
    display: flex;
    flex-direction: row;
}

.votesRemaining {
    padding-top: 20px;
    text-align: center;
}

.input {
    color: azure;
    border-radius: 3px;
    background-color: rgb(20, 24, 27); 
    margin-left: 60px;
    border: none;
    text-align: center;
    width: 80px;
}
.darkButton {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(20, 24, 27);
    color: rgb(181, 190, 204);
    border-radius: 5px;
    box-shadow: 3px 3px 2px black;
  }
  

.lightButton {
    background-color: rgb(43, 46, 52);
    color: rgb(181, 190, 204);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px black;
  }