.container {
  padding: 0 2rem;
  background-color: aliceblue;

}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(20, 24, 27); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balanceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px; 
  margin-top: 25px;
  padding: 25px;
  background-color: rgb(43, 46, 52);
}

.vote {
  margin-top: 25px;
  padding: 25px;
  border-radius: 15px; 
  flex-direction: row;
  background-color: rgb(43, 46, 52);
}

.claimButton {
  background-color: rgb(20, 24, 27);
  color: rgb(181, 190, 204);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 2px black;
}

.buttonBlue {
  background-color: blue;
}
